@import "tailwindcss";

@font-face {
	font-family: "Lexend";
	src: url("../fonts/Lexend-VariableFont_wght.ttf");
}

@theme {
	--color-lime-primary: #caff33;
	--color-lime-text: #d1ff4d;
	--color-gray-text: #4c4c4d;
	--color-olive-secondary: #22251b;
	--color-dark-card-bg: #262626;
	--color-dark-container-bg: #1c1c1c;
	--color-dark-bg: #1a1a1a;
	--color-text-secondary: #b3b3b3;
	--color-text-blur: #4c4c4d;

	/* config font */
	--font-lexend: "Lexend";
}

/* add the code bellow */
@layer utilities {
	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}
}
